<mat-form-field>
  <mat-label>Title</mat-label>
  <input matInput [(ngModel)]="req.title">
</mat-form-field>
<mat-form-field>
  <mat-label>Text</mat-label>
  <textarea matInput [(ngModel)]="req.text"></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>State</mat-label>
  <mat-select [(ngModel)]="req.state">
    <mat-option value="draft">Draft</mat-option>
    <mat-option value="wip">WIP</mat-option>
    <mat-option value="review">In review</mat-option>
    <mat-option value="final">Final</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="save()" [disabled]="commitsService.currCommit && commitsService.currCommit.id !== commitsService.currBranch.commitId">Save</button>
