<div class="first-row">
  <div class="header">
    <h3>Current Branch and Commit</h3>
    <mat-form-field appearance="fill">
      <mat-label>Branch</mat-label>
      <mat-select [value]="sharedService.currBranch" (selectionChange)="sharedService.checkoutBranch($event.value)">
        <mat-option *ngFor="let branch of sharedService.branches" [value]="branch">{{branch.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Commit</mat-label>
      <mat-select [value]="sharedService.currCommit" (selectionChange)="sharedService.checkoutCommit($event.value)">
        <mat-option *ngFor="let commit of sharedService.commits|filterCommits:sharedService.currBranch"
          [value]="commit">{{commit.id}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Create a new branch</mat-label>
      <input matInput [(ngModel)]="branchName">
      <mat-icon matSuffix >plus</mat-icon>
    </mat-form-field>
    <button mat-raised-button (click)="createBranch()" [disabled]="!sharedService.currCommit">Create</button>

  </div>


  <app-form></app-form>
</div>


<div class="branch-container">
  <app-chart></app-chart>
  <app-commits></app-commits>
</div>

<app-branches></app-branches>
