<div class="header">
  <mat-form-field appearance="fill">
    <mat-label>Branch</mat-label>
    <mat-select [value]="sharedService.currBranch" (selectionChange)="sharedService.checkoutBranch($event.value)">
      <mat-option *ngFor="let branch of sharedService.branches" [value]="branch">{{branch.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Commit</mat-label>
    <mat-select [value]="sharedService.currCommit" (selectionChange)="sharedService.checkoutCommit($event.value)">
      <mat-option *ngFor="let commit of sharedService.commits|filterCommits:sharedService.currBranch" [value]="commit">{{commit.subject}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<router-outlet></router-outlet>

<app-form></app-form>

<div class="branch-container">
  <app-chart></app-chart>
  <app-commits></app-commits>
</div>

<app-branches></app-branches>
