<table mat-table [dataSource]="sharedService.commits|filterCommits:sharedService.currBranch" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Commit id </th>
    <td mat-cell *matCellDef="let commit"> {{commit.id}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="revertJson">
    <th mat-header-cell *matHeaderCellDef> Revert json </th>
    <td mat-cell *matCellDef="let commit"> {{commit.revertJson|json}} </td>
  </ng-container> -->

  <ng-container matColumnDef="applyJson">
    <th mat-header-cell *matHeaderCellDef> Apply json </th>
    <td mat-cell *matCellDef="let commit"> {{commit.applyJson|json}} </td>
  </ng-container>

  <ng-container matColumnDef="parent">
    <th mat-header-cell *matHeaderCellDef> Parent </th>
    <td mat-cell *matCellDef="let commit" style="max-width: 40%;"> {{commit.parentId}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let commit"> {{commit.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let commit">
      <button style="margin-right: 10px"  *ngIf="commit !== sharedService.currCommit" mat-raised-button color="accent" (click)="checkoutCommit(commit)">Checkout</button>
      <button *ngIf="commit.id !== 1" mat-raised-button color="warn" (click)="deleteCommit(commit)">Delete!</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': row == sharedService.currCommit}"></tr>

</table>
